/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  color: var(--text-color-hard);
  font-weight: 400;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$inside-primary: mat-palette($mat-cyan);
$inside-accent: mat-palette($mat-blue-grey);
$inside-warn: mat-palette($mat-amber);

$inside-theme-dark: mat-dark-theme($inside-primary, $inside-accent, $inside-warn);
$inside-theme-light: mat-light-theme($inside-primary, $inside-accent, $inside-warn);

.color-scheme-dark {
  @include angular-material-theme($inside-theme-dark);

  .app-layout {
    color: #d0d0d0;
    background-color: #2d2d2d;
  }

  .mat-card {
    background-color: transparent;
    box-shadow: none !important;
  }
}

.color-scheme-light {
  @include angular-material-theme($inside-theme-light);

  .app-layout {
    color: #2d2d2d;
    background-color: #ffff;
  }

  .mat-card {
    background-color: transparent;
  }
}
