.avatar-dialog .mat-dialog-container {
  border-radius: 10px;
  figure {
    text-align: center;
    & img {
      max-height: 300px;
      object-fit: cover;
    }
  }
  & .mat-dialog-title {
    text-align: center;
  }
  & .mat-form-field {
    width: 100%;
  }
  & .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
  }
}
