<!-- <ng-container *ngIf="{

} as resume">
  
</ng-container> -->
<!-- <div class="istanbul-template" [ngStyle]="dps">
  <mat-grid-list cols="4" rowHeight="fit" gutterSize="80px">
    <mat-grid-tile [rowspan]="1" [ngStyle]="dps"> #142A5C </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1" [ngStyle]="dps"> #B7A0E8 </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="5" [ngStyle]="dps">
      <div style="width: 100%; height: 100%">
        <div id="professional-summary" [ngStyle]="dps">
          <h3><mat-icon>person_outline</mat-icon>Profile</h3>
          <span class="left-tile-content">{{ resumeValue.professionalSummary.text }}</span>
        </div>
        <div id="employment-history" [ngStyle]="dps">
          <h3><mat-icon>work_outline</mat-icon>Employment History</h3>
          <ul>
            <li *ngFor="let history of resumeValue.employmentHistories">
              <small>{{ history.jobTitle }} at {{ history.employer }}, {{ history.city }}</small>
              <br />
              <small>
                {{ history.startDate | date: 'MMMM, y' }} -
                {{ history.endDate ? (history.endDate | date: 'MMMM, y') : 'present' }}
              </small>
              <p>{{ history.description }}</p>
            </li>
          </ul>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'red'"> #D9EDD9 </mat-grid-tile>
  </mat-grid-list>
</div> -->

<!-- <canvas #canvasEl></canvas> -->
<div class="istanbul-template" [ngStyle]="dps">
  <div class="container">
    <header [ngStyle]="dps" fxFlexAlign="center" fxLayoutAlign="start" fxFlexFill>
      <div [ngStyle]="dps">
        <figure [ngStyle]="dps">
          <img [attr.src]="resumeValue.personalDetail.avatar.mediumUrl" />
        </figure>
      </div>
      <div [ngStyle]="dps">
        <h2 [ngStyle]="dps">{{ resumeValue.personalDetail.firstName }} {{ resumeValue.personalDetail.lastName }}</h2>
        <p [ngStyle]="dps">{{ resumeValue.personalDetail.wantedJobTitle }}</p>
      </div>
    </header>
    <div class="content" fxLayout="row" fxFlexAlign="center" fxLayoutAlign="center">
      <section [ngStyle]="dps" fxFlex="75">
        <div style="width: 100%; height: 100%">
          <div id="professional-summary" [ngStyle]="dps">
            <h3><mat-icon>person_outline</mat-icon>Profile</h3>
            <span class="left-tile-content">{{ resumeValue.professionalSummary.text }}</span>
          </div>
          <div id="employment-history" [ngStyle]="dps">
            <h3><mat-icon>work_outline</mat-icon>Employment History</h3>
            <ul>
              <li *ngFor="let history of resumeValue.employmentHistories">
                <small>{{ history.jobTitle }} at {{ history.employer }}, {{ history.city }}</small>
                <br />
                <small>
                  {{ history.startDate | date: 'MMMM, y' }} -
                  {{ history.endDate ? (history.endDate | date: 'MMMM, y') : 'present' }}
                </small>
                <p>{{ history.description }}</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <aside [ngStyle]="dps" fxFlex="25">aside</aside>
    </div>
  </div>
</div>
